NUXT_PUBLIC_SITE_URL=http://localhost:3031
NUXT_PUBLIC_SHOPIFY_STORE_DOMAIN=your-store.myshopify.com
NUXT_PUBLIC_SHOPIFY_STOREFRONT_TOKEN=your-storefront-access-token
NUXT_PUBLIC_SHOPIFY_API_VERSION=2026-01
